.byline {
  @include set-font($text-sans-serif, 900);
}

.slider {
  background-color: $smoke;
  padding: 2rem 0 1rem;

  .button {
    font-weight: 300;
    margin: 0;
    padding: rem-calc(8 16);
  }
}

.preview-caption {
  display: inline-block;
  margin-top: 2rem;

  @media #{$medium-up} {
    overflow: hidden;
    position: relative;

    a {
      outline: none;
      text-decoration: none;
      width: 100%;
    }

    img {
      display: block;
      width: 100%;

      a {
        border: 0;
      }
    }

    &:before,
    &:after {
      padding: .6rem 1rem;
      position: absolute;
    }

    &:before {
      background-color: rgba($tf-lightblue, 1);
      color: $white;
      content: attr(data-title);
      font-size: rem-calc(14);
      height: 20.1%;
      top: 80%;
      transition: top .25s linear;
      width: 100%;
    }

    &:after {
      background-color: rgba($tf-lightblue, .8);
      color: rgba($white, 0);
      content: attr(data-description);
      font-size: rem-calc(14);
      height: 80.1%;
      top: 100%;
      transition: color .5s ease, top .25s linear;
      width: 100%;
    }

    &:hover::before {
      top: 0;
    }

    &:hover::after {
      color: rgba($white, 1);
      top: 20%;
    }
  }

  @media #{$small-only} {
    img {
      display: none;
    }

    &:before {
      color: $text-dark;
      content: attr(data-title);
      display: block;
      font-size: rem-calc(16);
    }

    &:after {
      color: $text-dark;
      content: attr(data-description);
      font-size: rem-calc(14);
    }
  }
}