// Sizes

$default-padding: 1.11111rem;

$header-height: 2.8125rem;

// Semantic Defaults

article {
  margin-top: 3rem;
}

table {
  margin-bottom: 1.25rem;
  @include set-font($text-sans-serif, 400);

  thead {
    background-color: $tf-darkblue;
  }

  tbody {
    background-color: $tf-lightblue-light;
  }
}

// Global Components
.button {
  background-color: $tf-darkblue;
  color: $text-light;
}

.social-icons {
  font-size: rem-calc(30);
}

.full-height {
  height: 100%;
}

.sticky-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}