$tf-header-bg-color: $tf-darkblue;
$tf-header-text-color: $text-light;
$tf-search-button-color: $tf-red-dark;

header {
  background-color: $tf-header-bg-color;

  a {
    color: $text-light;

    &:active {
      color: $text-light;
    }

    &:hover {
      color: $text-light;
    }

    &:visited {
      color: $text-light;
    }
  }
}

.top-bar {
  background-color: $tf-header-bg-color;
  color: $tf-header-text-color;
  line-height: 2.8125rem;

  li {
    @include set-font($text-sans-serif, 400);
    font-size: .75rem;
    line-height: 2.8125rem;
    text-transform: uppercase;
  }

  li {
    margin: 0;

    a {
      padding: 0 1rem;
    }
  }

  input,
  .button {
    height: 2.8125rem;
    margin: 0;
    top: 0;
  }

  input[type="submit"] {
    background-color: $tf-search-button-color;
    font-family: 'FontAwesome';
  }

  .search-form {
    padding: 0;
  }
}

.top-nav-item,
.top-nav-donate {
  @media #{$small-only} {
    display: none;
  }
  @media #{$medium-only} {
    display: none;
  }
  @media #{$large-up} {
    display: visible;
  }
}

.top-nav-item {
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  transition: background .3s;

  &:hover {
    background-color: lighten($tf-darkblue, 10%);
  }
}

.top-nav-donate {
  background-color: $tf-red-dark;
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  transition: background .3s;

  &:hover {
    background-color: saturate($tf-red-dark, 7%);
  }
}



.tab-bar {
  @media #{$small-only} {
    display: visible;
  }
  @media #{$medium-up} {
    display: visible;
  }
  @media #{$large-up} {
    display: none;
  }
}

.large-navigation {
  @media #{$small-only} {
    display: none;
  }
  @media #{$medium-only} {
    display: none;
  }
  @media #{$large-up} {
    display: visible;
  }
}